/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Poppins', sans-serif;*/
html {
    font-size: 20px;
}
h1  {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}
h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem; 
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem; 
}
.color {
    width: 100%;
}
.color-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.color-blocks div {
    height: 15rem;
    width: 15rem;
    text-transform: uppercase;
    display: flex;
    justify-content:  center;
    align-items: center;
}

.color-blocks p{
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.2rem;
}
.color-blocks div{
    transition: transform 0.5s;
}
.color-blocks div:hover {
    transform: scale(1.07);
    z-index: 1;
}
.one {
    background-color: #e77ec1;
    color: white;
}
.two {
    background-color: #ffafe7;
    color: rgb(0, 0, 0);
}
.three {
    background-color: #29dbb8;
    color: rgb(0, 0, 0);
}
.four {
    background-color: #8d60bb;
    color: white;
}
.five {
    background-color: #2e9cc0;
    color: white;
}
.six {
    background-color: #af2ffa;
    color: white;
}
.seven {
    background-color: #3ec560;
    color: white;
}
.eight {
    background-color: #8ff332;
    color: rgb(0, 0, 0);
}
.nine {
    background-color: #84a0fd;
    color: white;
}
.ten {
    background-color: #30e278;
    color: white;
}

/*font*/
.font {
    border-bottom: 1px solid black;
}
.fonts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.fonts div{
    transition: transform 0.6s;
}
.fonts div:hover {
    transform: scale(1.1);
}
.fonts p{
    margin-top: 2rem;
}
.fonts .content-one p {
    font-family: 'Josefin Sans', sans-serif;
}
.fonts .content-one .bold {
    font-weight: bold;
}
.fonts .content-two p {
    font-family: 'Karla', sans-serif;
}
.fonts .content-two .bold {
    font-weight: bold;
}
.fonts .content-two .italic {
    font-style: italic;
}
.fonts .content-three p {
    font-family: 'Poppins', sans-serif;
}
.fonts .content-three .bold {
    font-weight: bold;
}
.fonts .content-three .italic {
    font-style: italic;
}

/*styles*/
.style {
    border-bottom: 1px solid black;
}
.text .content{
    margin-left: 38%;
    transition: transform 0.6s;
    margin-bottom: 1.8rem;
}
.text .content:hover{
    transform: scale(1.1);
}
.text .content ul{
    list-style-type:disc;
}
.text .heading1 .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem; 
}
.text .heading2 .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}
.text .heading3 .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem; 
}
.text .paragraph .title {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}
.text p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
}
/*footer*/
footer {
    margin-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(54, 54, 54);
    justify-content: space-between;
}